3)	As notas obtidas por 20 alunos de uma turma em uma prova de redação estão relacionadas a seguir:

In [96]:
data = [3.3, 4.2, 2.1, 5.6, 6.2, 7.4, 4.8, 1.9, 8.0, 4.8, 6.5, 3.2, 3.5, 8.6, 4.5, 3.8, 5.3, 1.2, 5.4, 9.3]
print(data)

[3.3, 4.2, 2.1, 5.6, 6.2, 7.4, 4.8, 1.9, 8.0, 4.8, 6.5, 3.2, 3.5, 8.6, 4.5, 3.8, 5.3, 1.2, 5.4, 9.3]

a)	Agrupe os dados em seis classes de intervalos, cada uma com amplitude 1,5 a partir da nota 1,0 e faça uma tabela de frequência.

In [152]:
import pandas as pd
import numpy as np

classes = [i for i in np.arange(1, 11, 1.5)]
labels = ['1 ~ 2.5 ', '2.6 ~ 4.0', '4.1 ~ 6', '6.1 ~ 7.5', '7.6 ~ 9.0', '9+']
print(len(classes))

7

In [153]:
df = pd.DataFrame(data, columns=['Data'])

classes = pd.cut(x=df.Data, bins=classes, labels=labels)
df['Classe'] = classes
df.head(20)

    Data     Classe
0    3.3  2.6 ~ 4.0
1    4.2    4.1 ~ 6
2    2.1   1 ~ 2.5
3    5.6  6.1 ~ 7.5
4    6.2  6.1 ~ 7.5
5    7.4  7.6 ~ 9.0
6    4.8    4.1 ~ 6
7    1.9   1 ~ 2.5
8    8.0  7.6 ~ 9.0
9    4.8    4.1 ~ 6
10   6.5  6.1 ~ 7.5
11   3.2  2.6 ~ 4.0
12   3.5  2.6 ~ 4.0
13   8.6         9+
14   4.5    4.1 ~ 6
15   3.8  2.6 ~ 4.0
16   5.3    4.1 ~ 6
17   1.2   1 ~ 2.5
18   5.4    4.1 ~ 6
19   9.3         9+

In [154]:
pd.value_counts(df.Classe)

4.1 ~ 6      6
2.6 ~ 4.0    4
1 ~ 2.5      3
6.1 ~ 7.5    3
7.6 ~ 9.0    2
9+           2
Name: Classe, dtype: int64

b)	Qual a porcentagem de alunos com nota menor do que 4.

In [169]:
counter = [i for i in df['Data'] if i < 4]
print("O número de alunos com nota inferior a quatro é de {}%".format(len(counter) / len(df)*100))


# for i in df['Data']:
#     if i < 4:
#         counter +=1

O número de alunos com nota inferior a quatro é de 35.0%