4)	Deseja-se através de um questionário distribuído em uma empresa, obter informações sobre alguns aspectos sociais de seus funcionários. Dentre outras questões, pesquisou-se o estado civil e há quanto tempo o funcionário trabalha na empresa. Foram selecionados, ao acaso, 15 questionários com os resultados relacionados a seguir:

In [14]:
import pandas as pd

df = pd.read_csv("https://github.com/felipereis150/mod_sist/blob/main/primeira%20avalia%C3%A7%C3%A3o%20continuada/distribuicao_de_freq(ex4).csv?raw=true", sep=";", encoding='utf-8')
df.head(10)

   Funcion�rio Estado Civil  Tempo na Empresa
0            1     Solteiro                 2
1            2       Casado                 3
2            3     Solteiro                 2
3            4     Solteiro                 1
4            5     Solteiro                 5
5            6       Casado                 4
6            7       Casado                 4
7            8   Divorciado                 6
8            9     Solteiro                 2
9           10   Divorciado                 5

a)	Classifique a variável estado civil e construa uma tabela de frequência;

In [68]:
frequency_table_a = pd.crosstab(df['Estado Civil'], 'Freq. Abs.')
frequency_table_a['Freq. Rel.'] = frequency_table_a/len(df)
frequency_table_a['%.'] = frequency_table_a['Freq. Rel.']

frequency_table_a = frequency_table_a.style.format({
    'Freq. Rel.': '{:,.2f}'.format,
    '%.': '{:,.1%}'.format
})
display(frequency_table_a)

b)	Classifique a variável tempo na empresa e construa uma tabela de frequência;

In [69]:
frequency_table_b = pd.crosstab(df['Tempo na Empresa'], 'Freq. Abs.')
frequency_table_b['Freq. Rel.'] = frequency_table_b/len(df)
frequency_table_b['%.'] = frequency_table_b['Freq. Rel.']

frequency_table_b = frequency_table_b.style.format({
    'Freq. Rel.': '{:,.2f}'.format,
    '%.': '{:,.1%}'.format
})
display(frequency_table_b)

c)	Qual a percentagem de funcionários que tem no máximo 3 anos de trabalho nessa empresa?

In [84]:
def countThreeYears():
    
    counter = 0
    for i in df['Tempo na Empresa']:
        if i <= 3:
            counter += 1

    result = counter / sum(df['Tempo na Empresa'])
    print(result)

countThreeYears()

0.16326530612244897

d)	Qual a percentagem de funcionários que possuem pelo menos 5 anos de serviço nessa empresa?

In [85]:
def countFiveYears():
    
    counter = 0
    for i in df['Tempo na Empresa']:
        if i >= 5:
            counter += 1

    result = counter / sum(df['Tempo na Empresa'])
    print(result)

countFiveYears()

0.08163265306122448